* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
header{
    background-color: orange;
    
}
header button{
  padding: 10px;
  border-radius: 10;
  background: transparent;
  border: none;
  width: 10%;
}
header select{
  padding: 9px;
  background: transparent;
  border: none;
  width: 10%;
}
header button:hover, header select:hover{
  background-color: #f2f2f2;
}
header button:active, header select:active{
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: black;
}
footer{
  background-color: orange;
  position: static;
  font-size: small;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;

}

/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}*/

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  max-height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 1 0 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.carousel-item h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.carousel-item p {
  font-size: 16px;
  color: #666;
}s

.carousel-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}