* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
  }
body{
  background: #868686;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  background: linear-gradient(90deg, #000000, #ff8100);
  color: #eeeeee;
  margin-bottom: 30px;
}
header button{
  color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  border: none;
  width: 10%;
}
header select{
  color: white;
  border-radius: 10px ;
  padding: 9px;
  background: transparent;
  border: none;
  width: 10%;
}
header button:hover, header select:hover{
  background-color: gray;
  opacity: 70%;
}
header button:active, header select:active{
  background-color: #eeeeee;
}
a {
  text-decoration: none;
  color: black;
}
footer{
  background: linear-gradient(90deg, #000000, #ff8100);;
  position: static;
  color: #eeeeee;
  font-size: small;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
}
h1.logo {

    font-family: Arial Black, Arial Bold, Verdana,sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 5px;
    color: #ff8100;
  }
  span.logo {
    font-family: Arial, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    text-transform: lowercase;
    padding: 0;
    margin: 0;
  }
